.phrase-entry {
    text-align: center;
    
    button {
        margin: 0.5rem;
        line-height: 2rem;
        width: 120px;
        background-color: #db993f;
        border: 3px dashed #3941a5;
        border-radius: 1rem;
        
        &:hover {
            background-color: #eda44f;
        }
    }
    
    .phrase-entry__input {
        line-height: 3rem;
        font-size: 2rem;
    }
}

.running-tallies {
    min-height: 2rem;
    margin: 0.5rem 0;
    text-align: center;
    
    .tally {
        display: inline-block;
        position: relative;
        margin: 0 0.25rem;
        
        i {
            padding: 1rem;
        }
        
        span {
            position: absolute;
            display: inline-block;
            background-color: #3F0;
            border-radius: 2rem;
            width: 1rem;
            height: 1rem;
            padding: 0.15rem;
            text-align: center;
        }
        
        .tally--char {
            top: 0;
            left: 0;
        }
        
        .tally--count {
            bottom: 0;
            right: 0;
        }
    }
}