
.phrase-entry {
    text-align: center;
    margin: 0 auto;
    padding: 1rem 3rem;
    background-color: #efe9e0;
    border: 3px solid #e6d8c3;
    border-radius: 1rem;
    width: 75%;
    
    button {
        margin: 0.5rem;
        line-height: 2rem;
        width: 120px;
        background-color: #db993f;
        border: 3px dashed #3941a5;
        border-radius: 1rem;
        
        &:hover {
            background-color: #eda44f;
        }
    }
    
    .phrase-entry__input {
        line-height: 3rem;
        font-size: 2rem;
        width: 80%;
        @media(max-width: 600px) {
            width: 100%;
        }
    }
}

.running-tallies {
    min-height: 2rem;
    text-align: center;

    width: 100%;
    margin: 0.5rem auto 1.5rem auto;
    
    .tally {
        display: inline-block;
        position: relative;
        border: 1px solid #FFF;
        padding: 0.15rem;
        margin: 0.15rem;
        background-color: #EFE9E0;
        text-align: center;
        
        i {
            text-shadow: 0 0 5px #000;
            display: block;
        }
        
        span {
            display: inline-block;
            padding: 5px;
        }
        
        .tally--char {
            border: 1px solid #FFF;
            background-color: #FFF;
        }
        
        .tally--count {
            border: 1px solid #FFF;
            width: 1.75rem;
        }
    }
}

.result-symbols {
    min-height: 2rem;
    margin: 1.5rem 0 0.5rem 0;
    text-align: center;
    text-shadow: 0 0 5px #000;
}

.tally,
.symbol {
    .color-1 {
        color: #69D2E7;
    }
    .color-2 {
        color: #46a4a7;
    }
    .color-3 {
        color: #23726e;
    }
    .color-4 {
        color: #99d097;
    }
    .color-5 {
        color: #db4461; 
    }
    .color-6 {
        color: #cad679;
    } 
    .color-7 {
        color: #F38630;
    }
    .color-8 {
        color: #c74c08;
    }
    .color-9 {
        color: #6A7B79;
    }
    .color-10 {
        color: #192f46;
    }
    .color-11 {
        color: #ACE332; 
    }
    .color-12 {
        color: #8EC70D;
    }
    .color-13 {
        color: #FF6B6B; 
    }
    .color-14 { 
        color: #f4efe3;
    }
}