.phrase-entry {
  text-align: center;
  margin: 0 auto;
  padding: 1rem 3rem;
  background-color: #efe9e0;
  border: 3px solid #e6d8c3;
  border-radius: 1rem;
  width: 75%; }
  .phrase-entry button {
    margin: 0.5rem;
    line-height: 2rem;
    width: 120px;
    background-color: #db993f;
    border: 3px dashed #3941a5;
    border-radius: 1rem; }
    .phrase-entry button:hover {
      background-color: #eda44f; }
  .phrase-entry .phrase-entry__input {
    line-height: 3rem;
    font-size: 2rem;
    width: 80%; }
    @media (max-width: 600px) {
      .phrase-entry .phrase-entry__input {
        width: 100%; } }

.running-tallies {
  min-height: 2rem;
  text-align: center;
  width: 100%;
  margin: 0.5rem auto 1.5rem auto; }
  .running-tallies .tally {
    display: inline-block;
    position: relative;
    padding: 0 .25rem;
    border: 1px solid #FFF;
    padding: 0.15rem;
    margin: 0.15rem;
    background-color: #EFE9E0;
    text-align: center; }
    .running-tallies .tally i {
      text-shadow: 0px 0px 5px #000;
      display: block; }
    .running-tallies .tally span {
      display: inline-block;
      padding: 5px; }
    .running-tallies .tally .tally--char {
      border: 1px solid #FFF;
      background-color: #FFF; }
    .running-tallies .tally .tally--count {
      border: 1px solid #FFF;
      width: 1.75rem; }

.result-symbols {
  min-height: 2rem;
  margin: 1.5rem 0 0.5rem 0;
  text-align: center;
  text-shadow: 0px 0px 5px #000; }

.tally .color-1,
.symbol .color-1 {
  color: #69D2E7; }
.tally .color-2,
.symbol .color-2 {
  color: #46a4a7; }
.tally .color-3,
.symbol .color-3 {
  color: #23726e; }
.tally .color-4,
.symbol .color-4 {
  color: #99d097; }
.tally .color-5,
.symbol .color-5 {
  color: #db4461; }
.tally .color-6,
.symbol .color-6 {
  color: #cad679; }
.tally .color-7,
.symbol .color-7 {
  color: #F38630; }
.tally .color-8,
.symbol .color-8 {
  color: #c74c08; }
.tally .color-9,
.symbol .color-9 {
  color: #6A7B79; }
.tally .color-10,
.symbol .color-10 {
  color: #192f46; }
.tally .color-11,
.symbol .color-11 {
  color: #ACE332; }
.tally .color-12,
.symbol .color-12 {
  color: #8EC70D; }
.tally .color-13,
.symbol .color-13 {
  color: #FF6B6B; }
.tally .color-14,
.symbol .color-14 {
  color: #f4efe3; }
